<section id="speakers" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Events</h2>
        <p>Here are some of our Events</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://i.ibb.co/SvtndrH/te-CHn-ICAL-e-VENTS.png" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Technical Events</a></h3>
              <p>Quas alias incidunt</p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://i.ibb.co/3k3VXzS/Cultural-Events.png" alt="Speaker 2" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Cultural Events</a></h3>
              <p>Consequuntur odio aut</p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://i.ibb.co/VMVNbbC/School-Students-Events.png" alt="Speaker 3" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Events For School Students</a></h3>
              <p>Fugiat laborum et</p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://i.ibb.co/cv2HWMQ/Special-Events.png" alt="Speaker 4" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Special Events</a></h3>
              <p>Debitis iure vero</p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://i.ibb.co/k9cNXvZ/Sports-Events.png" alt="Speaker 5" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Sports Events</a></h3>
              <p>Qui molestiae natus</p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Speaker 6" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Other Events</a></h3>
              <p>Non autem dicta</p>
             
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
<app-list></app-list>