<div class="col-md-6" style="margin: auto;">
    <img
      src="https://ik.imagekit.io/blackr/Autoexpo?"
      alt="Image 1"
      class="img-fluid"
    />
  </div>
  
  <a
    class="nav-link"
    href="https://m.paytm.me/ogic_nrweb"
    style="
      letter-spacing: 1px;
      font-family: Monoton;
      padding: 7px;
      /* border: 0px solid; */
      /* width: fit-content; */
      font-size: xx-large;
      color: #61efff;
      border-radius: 6px;
      text-align: center;
    "
  >
    Register
    <span style="color: #ff8eed;">
      Here!
    </span>
    <div class="liquid"></div>
  </a>
  <div class="container">
    <!-- <div class="row">
      <div class="col-md-12">
        <h2>Videos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://drive.google.com/file/d/1wYrTwJMPMVHPO0aF8DkvwKqG7K1fJyWl/preview"
            allowfullscreen
          ></iframe>
        </div>
        <h4 class="mt-2 mb-0">Video 1</h4>
      </div>
      <div class="col-md-6 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://drive.google.com/file/d/163ObWPhkQ5Esc9CCS6JoTdNyMIQHWZP8/preview"
            allowfullscreen
          ></iframe>
        </div>
        <h4 class="mt-2 mb-0">Video 2</h4>
      </div>
    </div> -->
  
    <!-- <div class="row">
      <div class="col-md-12">
        <h2>Images</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <img
          src="https://ik.imagekit.io/blackr/Stuntshow/IMG_20191028_021657.jpg?"
          alt="Image 1"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 mb-4">
        <img
          src="https://ik.imagekit.io/blackr/Stuntshow/IMG_20200818_105708.jpg?"
          alt="Image 2"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 mb-4">
        <img
          src="https://ik.imagekit.io/blackr/Stuntshow/IMG_20191018_145701.jpg?updatedAt=1680463200070"
          alt="Image 1"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 mb-4">
        <img
          src="https://ik.imagekit.io/blackr/Stuntshow/IMG_20191018_154611.jpg?updatedAt=1680463199750"
          alt="Image 1"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 mb-4">
        <img
          src="https://ik.imagekit.io/blackr/Stuntshow/IMG_20210630_162056_307.jpg?updatedAt=1680463198019"
          alt="Image 1"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 mb-4">
        <img
          src="https://ik.imagekit.io/blackr/Stuntshow/IMG_20210630_162102_279.jpg?updatedAt=1680463198021"
          alt="Image 1"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
   -->