<main>
  
  <app-nav></app-nav>
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">OIST Presents<br><span>TECH</span> ACHME 2023</h1>
      <p class="mb-4 pb-0">10-12 March, Oriental Institue Of Science And Tehcnology, Bhopal</p>
      <a href="https://www.facebook.com/reel/6205660156121319" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
  </section>
  <app-schedule></app-schedule>
  <app-events></app-events>
  <app-sponsors></app-sponsors>
  <app-faq></app-faq>
</main>