    <!--==========================
      Schedule Section
    ============================-->
  
    <section id="schedule" class="section-with-bg">
      <!-- <div class="wapper">
        <div class="lamp swing"></div> -->
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h2>Event Schedule</h2>
            <p>Here is our event schedule</p>
          </div>
          <h3 class="sub-heading">I need details to update it. Send the details to make it work, waitng for details. I need details to update it. Send the details to make it work, waitng for details</h3>

        <!-- </div> -->
  
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1<h6>6 April</h6></a>
          
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2 <h6>7 April</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Day 3<h6>8 April</h6></a>
            </li>
          </ul>
  
  
          <div class="tab-content row justify-content-center">
  
            <!-- Schdule Day 1 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>09:30 AM</time></div>
                <div class="col-md-10">
                  <h4>Registration</h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>10:00 AM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Brenden Legros">
                  </div>
                  <h4>Keynote <span>Brenden Legros</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>11:00 AM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Hubert Hirthe">
                  </div>
                  <h4>I need details to update it.  <span> Send the details to make it work, waitng for details</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>12:00 AM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Cole Emmerich">
                  </div>
                  <h4>I need details to update it.<span> Send the details to make it work, waitng for details</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>02:00 PM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Jack Christiansen">
                  </div>
                  <h4>I need details to update it.<span>Send the details to make it work, waitng for details</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>03:00 PM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Alejandrin Littel">
                  </div>
                  <h4>I need details to update it.<span>Send the details to make it work, waitng for details</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>04:00 PM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Willow Trantow">
                  </div>
                  <h4>I need details to update it.<span>Send the details to make it work, waitng for details</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
            </div>
            <!-- End Schdule Day 1 -->
  
            <!-- Schdule Day 2 -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>10:00 AM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Brenden Legros">
                  </div>
                  <h4>I need details to update it.<span>Send the details to make it work, waitng for details</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>11:00 AM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Hubert Hirthe">
                  </div>
                  <h4>I need details to update it. Send the details to make it work, waitng for details<span>Hubert Hirthe</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>12:00 AM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Cole Emmerich">
                  </div>
                  <h4>I need details to update it. Send the details to make it work, waitng for details<span>Cole Emmerich</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>02:00 PM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Jack Christiansen">
                  </div>
                  <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>03:00 PM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Alejandrin Littel">
                  </div>
                  <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>04:00 PM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Willow Trantow">
                  </div>
                  <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details.</p>
                </div>
              </div>
  
            </div>
            <!-- End Schdule Day 2 -->
  
            <!-- Schdule Day 3 -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>10:00 AM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Hubert Hirthe">
                  </div>
                  <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>11:00 AM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Cole Emmerich">
                  </div>
                  <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>12:00 AM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Brenden Legros">
                  </div>
                  <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>02:00 PM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Jack Christiansen">
                  </div>
                  <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>03:00 PM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Alejandrin Littel">
                  </div>
                  <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details.</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time>04:00 PM</time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Willow Trantow">
                  </div>
                  <h4>I need details to update it. Send the details to make it work, waitng for details<span>Willow Trantow</span></h4>
                  <p>I need details to update it. Send the details to make it work, waitng for details</p>
                </div>
              </div>
  
            </div>
            <!-- End Schdule Day 2 -->
  
          </div>
  
        </div>
  
      </section>