.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: 600;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }

  .card-footer{
   border: none;
  }
 .registerbtn{
width: 50%;
position: relative;
float: right;
 }

.detailsbtn{
  width: 50%;
position: relative;
float: left;

 }