.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: 600;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }

  .card-footer{
   border: none;
  }
 .registerbtn{
width: 48%;
position: relative;
float: right;
 }

.detailsbtn{
  width: 48%;
position: relative;
float: left;

 }

 @media only screen and (max-width: 600px){
  .modal-dialog {
    margin: 12% var(--bs-modal-margin);
}
 }