<!-- events.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let event of TechnicalEvents">
      <div class="card h-100">
        <img class="card-img-top" [src]="event.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{event.title}}</h5>
          <p class="card-text">{{event.description}}</p>
          <p class="card-text">Date: {{event.date}}</p>
          <p class="card-text">Location: {{event.location}}</p>
          <p class="card-text">Price: {{event.price}}</p>
          <p class="card-text">Contact: {{event.contact}}</p>
          <a href="#" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
