<div class="sectionsponsor-header" style="margin-bottom: 0px;">
  <h2>Our Sponsors</h2>
</div>
<section id="supporters" class="section-with-bg wow fadeInUp">
  <div class="container"  style="width: 82%;">
    <h3 class="section-header" style="text-align: center; color: #ffd800;">Gold Sponsor</h3>
    <a href="https://www.instagram.com/reel/CqiBA3Jj3hj/?igshid=MDJmNzVkMjY%3D">

      <p style="text-align: center;"> Follow on Instagram</p>
    </a> 
    <div class="row no-gutters supporters-wrap clearfix sponsors-box">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="supporter-logo">
          <a href="https://www.linkedin.com/company/cybrom-technology/"
          ><img
            src="https://ik.imagekit.io/blackr/cybrom_long.png?"
            traget=""
            class="img-fluid img1-fluid"
            alt=""
          /></a>
        </div>
    
      </div>
    </div>
  </div>
</section>

<section id="supporters" class="section-with-bg wow fadeInUp" style="display: flex;">
  <div class="container"  style="width: 50%;">
    <h3 class="section-header" style="text-align: center;">Radio Partner</h3>
    <div class="row no-gutters supporters-wrap clearfix sponsors-box">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="supporter-logo">
          <a href="https://www.instagram.com/mirchibhopal/?hl=en"
          ><img
            src="https://ik.imagekit.io/blackr/radiomirchi.jpg?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid"
            alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container"  style="width: 50%;">
    <h3 class="section-header" style="text-align: center;">Event Planner</h3>
    <div class="row no-gutters supporters-wrap clearfix sponsors-box">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="supporter-logo">
          <a href="https://www.instagram.com/event.s360/?hl=en"
          ><img
            src="https://ik.imagekit.io/blackr/events360.jpg?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid"
            alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-with-bg wow fadeInUp">
  <div class="container">
    <h3 class="section-header" style="text-align: center; margin-top: 6%;">Event Sponsors</h3>
    <div class="row no-gutters supporters-wrap clearfix sponsors-box">


      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://www.sakshamdigitaltechnology.com/"> <img
            src="https://ik.imagekit.io/blackr/shaksham_digital_tech.avif?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>


      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
          <a href="https://codingthinker.com/"><img
            src="https://ik.imagekit.io/blackr/codingthinker.png?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>


      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://www.madeeasy.in/home/centre/Bhopal"> <img
            src="https://ik.imagekit.io/blackr/madeeasylogo.jpg?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>

      
      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://www.nextias.com/"> <img
            src="https://ik.imagekit.io/blackr/nextias.jpg?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>


      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://www.umangnashamukti.com/"> <img
            src="https://ik.imagekit.io/blackr/umanglogo?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>


      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://www.revoltmotors.com/"> <img
            src="https://ik.imagekit.io/blackr/Revolt?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
          <a href="https://trainit.tech/"><img
            src="https://ik.imagekit.io/blackr/TrainIT.png?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://techultimatesolutions.com/"><img
            src="https://ik.imagekit.io/blackr/ultimatesolutions?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>
    
      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
          <a href="https://winacle.net/"><img
            src="https://ik.imagekit.io/blackr/winaclenetwork.jfif?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
          <a href="https://www.jstc.org.in/">
            <img
            src="https://ik.imagekit.io/blackr/jstc.jfif?tr=w-300,h-300"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>
 




    </div>
  </div>
</section>

<section class="section-with-bg wow fadeInUp">
  <div class="container">
    <h3 class="section-header" style="text-align: center; margin-top: 6%;">Technical Partner</h3>
    <div class="row no-gutters supporters-wrap clearfix sponsors-box">


      <div class="col-lg-2 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://ishrae.in/"> <img
            src="https://ik.imagekit.io/blackr/ishrae.jpg?updatedAt=1680499159018"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>


      <div class="col-lg-2 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
          <a href="https://www.acm.org/chapters"><img
            src="https://ik.imagekit.io/blackr/acm-chapter-logo.jpg?updatedAt=1680499598958"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>


      <div class="col-lg-2 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="http://www.isteonline.in/"> <img
            src="https://ik.imagekit.io/blackr/logoISTE.png?updatedAt=1680501882632"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://iete.org/"> <img
            src="https://ik.imagekit.io/blackr/IETE-ECE.jpg?updatedAt=168049959785"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-xs-6 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://idealnet.aicte-india.org/"> <img
            src="https://ik.imagekit.io/blackr/aicte_lab.jfif?updatedAt=1680499597823"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-xs-12 sponsor-boxwidth">
        <div class="supporter-logo">
         <a href="https://mic.gov.in/innovation-council/iic"> <img
            src="https://ik.imagekit.io/blackr/IIC__1_.png?updatedAt=1680501882227"
            traget=""
            class="img-fluid img1-fluid "
            alt=""
          /></a>
        </div>
      </div>




    </div>
  </div>
</section>


<section class="section-with-bg wow fadeInUp">
  <div class="container"style="width: 82%;" >
    <h3 class="section-header" style="text-align: center; margin-top: 6%;">Supported by</h3>
    <div class="row no-gutters supporters-wrap clearfix sponsors-box">

<div class="col-lg-12 col-md-12 col-xs-12 " style="display: flex; justify-content: center;">

  <div class="supporter-logo">
   <a href="https://amritmahotsav.nic.in/"><img
      src="https://ik.imagekit.io/blackr/g20-logo-with-AKAM-01S.jpg?tr=h-300"
      traget=""
      class="img-fluid img1-fluid"
      alt=""
    /></a> 
  </div>
  </div>
</div>

</div></section>
<section class="section-with-bg wow fadeInUp">
  <div class="container" >
    <h3 class="section-header" style="text-align: center; margin-top:6%;">Food Partner</h3>
    <div class="row no-gutters supporters-wrap clearfix sponsors-box">
      <div class="col-lg-3 col-md-4 col-xs-6 sponsor-boxwidth" >
        <div class="supporter-logo">
         <a href="http://www.topntown.com/"><img
            src="https://ik.imagekit.io/blackr/top-n-town-ice-cream-logo-CBD058F4C3-seeklogo.com.png?"
            traget=""
            class="img-fluid "
            alt=""
          /></a> 
        </div>
      </div>
    </div>
  </div>
</section>
